<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Esta aplicação web foi desenvolvida sem propósitos comerciais,
  apenas com o propósito de aprender sobre desenvolvimento web utilizando o Ruby on Rails.
  Meu nome é Lucas Barreto, trabalho como desenvolvedor backend há 3 anos. Passei a ter interesse por desenvolvimento de aplicações web
  devido a grande quantidade de demanda no mercado, então passei a estudar Ruby on Rails e desenvolvi esta aplicação para praticar meus estudos.
  Comecei estudar Ruby e Rails em 2016 e o livro que utilizei para me auxiliar a desenvolver esta aplicação
  foi o <a href="https://www.railstutorial.org/book/beginning">Ruby on Rails Tutorial</a>, de Michael Hartl.
  Esta aplicação foi desenvolvida usando um dos ciclos do TDD, chamado "Red Green refactor cycle", possui 68 testes automatizados, 
  autenticação dupla e criptografia de senha usando a gema bcrypt do Ruby.
</p>