<% provide(:title, "Help") %>
<h1>Ajuda</h1>
<p>
  A navegação da aplicação é bastante intuitiva, basta fazer o registro da conta clicando no botão Sign Up e preenchedo seus dados.
  Deve-se colocar um e-mail válido pois a aplicação possui autenticação via e-mail de confirmação.
  Em seguida, o usuário pode seguir (follow) ou deixar de seguir (unfollow) os outros usuários da aplicação, e pode publicar posts.
  O usuário consegue ver os próprios posts mais os posts das pessoas que ele segue.
  A aplicação possui interface simples e básica, autenticação dupla e criptografia de senha usando a gem bcrypt do Ruby (ou seja, sua senha não ficará
  visível no banco de dados da aplicação).
  Qualquer dúvida, basta entrar em contato pelo meu <a href="mailto:lucascbarreto@hotmail.com" target="_top">e-mail</a>.
</p>